language:
- python

python:
- 3.5

install:
- pip install -r requirements.txt

script:
- nosetests -v

notifications:
  slack:
    secure: mlS3LHAXSMeAsP/nOror1z102hJK668W+gUGqE0EeQgPL4ue7uHYHuwM6iDeqSEh//tQOuGb7iCKt7rlevz529Xv17+Ysm/H7A2EOMs32dtqJva0Y6kvf8lbEfjZUJCBdHDMI66DX6ECzwpqNR8qvjf/HElAsGUIvZmHsLTzdM8FIVnQMSTGYAtFB3Sy7xtRP0/4JD54/jd0dQnrFJc9OAWwMxX348JA5jKUhFqgJrHYX764D+mY7rWRlgjdEKa28BTQHQDbGXK3OO0Q7Mp3xknkmIVFsE3nfcDoRuy5+D1xI61EfB/yUy2pQ3N1F2GYrAP/qYgs2SzfPS9u12VTE2j8s6oB2S4j9B+bEH8F3QRYJQwvmAdRvWV4Pz73eyrdji4HbebYlH/wd1DgRNk7djDPEUYqyt0ThSn9KwuqfsK994dSj43S6lQllSuvdDtlWhz4UWNcF3RUN43HVqETEktveowYHaGkQFGX54XSqieeiBehCnpOrEShaMZ5CABLQJX0S7YB7qPpP2d82zbqByd6fTTkA14jOOOP75iuKHgklnEP29800vDAsBf9oNXPTm6xqYAYgpp+60re9MOOvLe0nP2MJDh57xywhiOKBS9iwcMBYpeE4nuQt3QRixM0wlzKk7gQ7hdmR9QW1ICr01qPjTwpIZ3pWkLpGvxKoPs=
